*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    align-items: center;
}

#container{
    margin: 0 auto;
    width: 500px;
}

.display {
    display: flex;
    justify-content: flex-end;

    width: 500px;
    padding-right: .5rem;
    border: solid 5px black;

}

#button-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
    
}

.button{
    height: 50px;
    border-radius: 5px;
}

.button:hover{
    background-color: bisque    ;
}

.button:active{
    background-color: aqua;
}